body{
    padding-bottom: 50px;
}

.picture{
    padding: 10px;
}

.image {
    height: 250px;
    width: 310px;
    cursor: pointer;
    position: relative;
}

.description {
    position: relative;
    font-weight: bold;
    text-align: center;
    z-index: 1;
    display: none;
}

.description.show {
    display: block;
}

.poke{
    font-weight: bold;
}

.chaser{
    width: 50px;
    height: 50px;
    background: red;
    border-radius: 50%;
}

.runner{
    width: 50px;
    height: 50px;
    background: green;
    border-radius: 50%;
}

.box{
    border: 1px solid grey;
    height: 350px;
}

.carouselContainer{
    height: 400px;
    max-width: 100%;
    position: relative;
    margin: auto;
}

.carousel-image img{
    height: 400px;
    width: 100%;
    max-width: 800px;
    margin:auto;
    display: block;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carouselContainer .carousel-image,
.carouselContainer .carousel-image--hidden{
    display: none;
}

.carouselContainer .carousel-image--visible{
    display: block;
}

.carousel-buttons{
    position: absolute;
    display: flex;
    justify-content: space-between;
    transform: translate(0px, 1346%);
    cursor: pointer;
    text-align: center;
}

.carousel-button-prev, .carousel-button-next{
    background-color: ivory;
    border-radius: 50%;
    font-weight: bold;
    border: none;
    height: 25px;
    width: 25px;
}

.title{
    font-size: 1.5em;
    margin-top: 100px;
    margin-bottom: 20px;
}

.lightMode{
    background: url("images/sky.jpg") no-repeat no-repeat center center;
    background-size: cover;
    color: #0A0A0A;
}

.darkMode{
    background: url("images/stars.jpg") no-repeat no-repeat;
    color: #fffff0;
}

.bigTitle{
    font-size: 2.5em;
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}

.toggle {
    width: 40px;
    height: 40px;
}

.mode{
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    line-height: 47px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.mode:hover{
    cursor: pointer;
}
